.code-modal {
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

.code-modal-content {
    background-color: #f8f8f8;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: 80vh;
    overflow: auto;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.code-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.code-modal-title {
    font-weight: bold;
}

.copy-button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.code-modal-content pre {
    margin: 0;
    white-space: pre-wrap;
}

.code-modal-content code {
    display: block;
    padding: 10px;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
}

.line-number {
    display: inline-block;
    width: 2em;
    user-select: none;
    opacity: 0.3;
}
